### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/Practice
!.idea
!out
!Homework.iml
!.gitignore


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/YouBike/
/src/YouBike/
/src/Main.java
/src/YouBike/
/src/Main.java
